<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Отношение "Участники"</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <style>
    body {
      background-color: #2b2b2b;
      color: white;
    }
  </style>
</head>
<body>
<h1>Участник</h1>
<form action="/member/add" method="post">
  <input type="text" name="GrantSupervisor" placeholder="Организатор гранта" class="form-control"><br>
  <input type="text" name="Scientist" placeholder="Ученый" class="form-control"><br>
  <input type="text" name="GrantParticipant" placeholder="Участника гранта" class="form-control"><br>
  <button type="submit" class="button-14">Сохранить</button>
</form>
</body>
</html>