<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Запись удалена</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <style>
    a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
    body {
      background-color: #2b2b2b;
      color: white;
    }
  </style>
</head>
<body>
<h1>Запись успешно удалена из базы</h1>
<a href="/database">На главную</a>
</body>
</html>